body{
    background-color: rgb(0, 238, 255);
}
.img{
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
    margin: 7px;
   
}
#a1{
    background-image: url(image/a1.jpg);
    
}
#a2{
    background-image: url(image/a2.jpg);
}
#a3{
    background-image: url(image/a3.jpg);
}
#a4{
    background-image: url(image/a4.jpg);
}
#a5{
    background-image: url(image/a5.jpg);
}
#a6{
    background-image: url(image/a6.avif);
}
#a7{
    background-image: url(image/a1.jpg);
    
}
#a8{
    background-image: url(image/a2.jpg);
}
#a9{
    background-image: url(image/a3.jpg);
}
#a10{
    background-image: url(image/a4.jpg);
}
#a11{
    background-image: url(image/a5.jpg);
}
#a12{
    background-image: url(image/a6.avif);
}
#content{
    justify-self: start;
    display: flex;
    flex-direction: column;
    width: auto;
    grid-column: 2/3;
    grid-row: 2/3;
}
.container{
    width: 1600px;
    height: 400px;
    display: flex;
    margin: 7px;
}
.div{
    height: 400px;
    width: 400px;
    background-color: rgba(0,0,0,0.3);
    position: relative;
}
#button_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#button1{
    height: 200px;
    width: 400px;
    background-color: rgb(21, 66, 105);
    margin-top: 50px;
    font-size: 85px;
    overflow: hidden;
}
#game_score{
    height: auto;
    width: auto;
    border: solid 1px black;
    grid-row: 2/3;
    display: grid;
    grid-column: 50% 50%;
    grid-template-rows: 0.5fr 13fr;
}
#player1{
    width: 100%;
    height: max-content;
    border:solid 1px black;
    grid-column: 1/2;
    grid-row: 1/2;
}
#player2{
    width: 100%;
    height: max-content;
    border:solid 1px black;
    grid-column: 2/3;
    grid-row: 1/2;
}
#game_score1{
    width: 1fr;
    height: auto;
    border: solid 1px black;
    text-align: center;
    font-size: 1500%;
}
#game_score2{
    width: 1fr;
    height: auto;
    border: solid 1px black;
    text-align: center;
    font-size: 1500%;
}
#game_container{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 75%;
    grid-template-rows: 25% 75%;
}
#players{
    height: 400px;
    width: 600px;
    background-color: rgb(161, 205, 238);
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    position: relative;
    right: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}